npm.thinknet.co.th/:_password="amVua2lucw=="
npm.thinknet.co.th/:username=jenkins
npm.thinknet.co.th/:email=jenkins@thinknet.co.th
npm.thinknet.co.th/:always-auth=true
npm.thinknet.co.th/:_auth=amVua2luczpqZW5raW5z
registry="https://npm.thinknet.co.th"